export(epirice.define.param)
export(epirice.model)
export(epirice.multi.simul)
export(epirice.weather)
export(evaluation.criteria)
export(magarey.define.param)
export(magarey.model)
export(magarey.model2)
export(magarey.simule)
export(maize.define.param)
export(maize.model)
export(maize.model2)
export(maize.RUEtemp)
export(maize.simule)
export(maize.weather)
export(maize_cir.model)
export(maize_cir_rue.model)
export(maize_cir_rue_ear.model)
export(param.rtriangle)
export(param.runif)
export(q.arg.fast.runif)
export(verhulst.model)
export(verhulst.update)
export(watbal.define.param)
export(watbal.model)
export(watbal.update)
export(watbal.weather)
export(weed.define.param)
export(weed.model)
export(weed.simule)
export(weed.update)
